<div class="bg-dark">
    <div class="container">
        <div class="row footer mt-3">
            <div class="col-lg-5 mt-5">
                <div  class=" d-flex align-items-center w-50" >
                    <img src="../../assets/img/pngwing.com.png" alt="" class="w-25 " >
                    <span class="fw-bolder fs-5 main-font ">Fresh Cart</span>
              
                </div>
                <p class="bg-gray">
                    Since 2013 we’ve been creating industrial design, residential architecture, commercial interiors. Chase mice attack feet but rub face on everything cepteur sint occaecat cupidatat proident.
                </p>
                <h6 class="text-white">Follow us</h6>
                <div class="text-white d-flex ">
                    <a href="https://www.instagram.com/issraaaah/"><i class="fa-brands fa-instagram pe-2 "></i></a>
                    <a href=" "><i class="fa-brands fa-facebook-f pe-2"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin pe-2"></i></a>
                    <a href=""><i class="fa-brands fa-github pe-2 "></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                
            </div>
            
            <div class="col-lg-3">
    
            </div>
    
        </div>
    </div>
</div>


