<div class="d-flex justify-content-center">
    <div class="w-50 mx-auto py-4 ">
        <div class="alert alert-danger" *ngIf="apiError.length>0">
{{apiError}}
        </div>
        <form (ngSubmit)="handelSignUp(signupForm)" [formGroup]="signupForm">
            <label for="name" class="mb-1" >Name<span class="star">*</span></label>
            <input type="text" formControlName="name" id="name" class="form-control mb-2">

<div *ngIf="signupForm.get('name')?.errors&& signupForm.get('name')?.touched" class="alert alert-danger mb-2">
    <p *ngIf="signupForm.get('name')?.getError('required')" class="m-0">Enter your full name</p>
    <p *ngIf="signupForm.get('name')?.getError('minlength')" class="m-0">Minmum length is 3</p>
   
</div>


               
            <label for="email" class="mb-1">email<span class="star">*</span></label>
            <input type="email" formControlName="email" id="email" class="form-control mb-2">
            <div *ngIf="signupForm.get('email')?.errors&& signupForm.get('email')?.touched" class="alert alert-danger mb-2">
                <p *ngIf="signupForm.get('email')?.getError('required')" class="m-0">Email is required</p>
                <p *ngIf="signupForm.get('email')?.getError('email')" class="m-0">Invalid Email</p>
            </div>
            <label for="password" class="mb-1">Password<span class="star">*</span></label>
            <input type="password" formControlName="password" id="password" class="form-control mb-2">
            <div *ngIf="signupForm.get('password')?.errors&& signupForm.get('password')?.touched" class="alert alert-danger mb-2">
                <p *ngIf="signupForm.get('password')?.getError('required')" class="m-0">password is required</p>
                <p *ngIf="signupForm.get('password')?.getError('pattern')" class="m-0"> Your password should has Upper latter and minlenght is 5 and max is 20</p>
            </div>

            <label for="rePassword" class="mb-1">RePassword<span class="star">*</span></label>
            <input type="password" formControlName="rePassword" id="rePassword" class="form-control mb-2">
            <div *ngIf="signupForm.get('rePassword')?.errors&&signupForm.get('rePassword')?.touched" class="alert alert-danger mb-2">
                <p *ngIf="signupForm.get('rePassword')?.getError('required') " class="m-0">Repassword is required</p>
                
            </div>


            <!-- <label for="phone" class="mb-1">phone<span class="star">*</span></label>
            <input type="tel" formControlName="phone" id="phone" class="form-control mb-2">
             -->
           

<div class="d-flex flex-nowrap">
    <button [disabled]="signupForm.invalid" class=" bg-info-subtle ms-auto d-block btn  text-white px-4">
        <i class="fas fa-spinner fa-spin" *ngIf="isLoading"></i>
                    <span *ngIf="!isLoading">Register</span>  
                    </button>
                    
                    <button  routerLink="/login" class=" bg-info-subtle  d-block btn  text-white px-4">
                        <i class="fas fa-spinner fa-spin" *ngIf="isLoading"></i>
                                    <span *ngIf="!isLoading">login</span>  
                                    </button>
</div>
        
        </form>
    </div>
    
</div>


