<!-- <div
  class="model bg-black bg-opacity-50 position-absolute start-0 top-0 end-0 bottom-0 d-flex justify-content-center align-items-center" >
  <div class="container ">
    <div class=" w-50 m-auto  border border-1 bg-light-color">
      <div class="row">
        <div class="col-md-6 text-center">
          <a class="login">login</a>
        </div>
        <div class="col-md-6 text-center">
          <a class="register">REGISTER</a>
        </div>
      </div>
      <form action="">
      <div class="m-4 email">
      

          <label for="email" class="mb-1">email<span class="star">*</span></label>
          <input type="email" name="" placeholder="please enter your email" class="form-control mb-2">
       
    </div>
      <div class="m-4 password">
        <label for="password" class="mb-1">password<span class="star">*</span> </label>
        <div class="mb-2 position-relative ">
          <input type="password" placeholder="please enter your password " class="form-control ">
          <span class="icon-pass"><i class="fa-solid fa-eye-slash"></i></span>
        </div>
      </div>
    </form>
      <div class="mx-4">
        <button class="w-100 btn bg-black text-white py-2 ">
          <a>login</a>
        </button>
      </div> 




    </div>

  </div>
</div>-->